* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  color: wheat;
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
#Clock {
  background-color: rgb(218, 163, 13);
  font-size: 40px;
  border-radius: 10px;
  margin: 20px;
  color: white;
}
